{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>CHANGE PASSWORD</title>
    {% endblock %}


    {% block content %}
    <div class="container jumbotron">
        <h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.crispy }}
  <input type="submit" value="Reset Password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
    {% endblock %}